/MiniProjects/Minesweeper/Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MiniProjects/Minesweeper/Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MiniProjects/Minesweeper/Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MiniProjects/Minesweeper/Minesweeper/bin/Debug/Minesweeper.vshost.exe.config
/MiniProjects/Minesweeper/Minesweeper/bin/Debug/Minesweeper.vshost.exe.manifest
/MiniProjects/Minesweeper/Minesweeper/obj/Debug/App.g.i.cs
/MiniProjects/Minesweeper/Minesweeper/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/MiniProjects/Minesweeper/Minesweeper/obj/Debug/MainWindow.g.i.cs
/MiniProjects/Minesweeper/Minesweeper/obj/Debug/Minesweeper_Content.g.i.cs
/MiniProjects/Minesweeper/Minesweeper/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MiniProjects/Minesweeper/Minesweeper/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MiniProjects/Minesweeper/Minesweeper/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MiniProjects/Minesweeper/Minesweeper/obj/Debug/UC_Cell.g.i.cs
/MiniProjects/Minesweeper/Minesweeper/obj/Debug/UserControls/UC_Cell.g.i.cs
